// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
 }
 // Common page class
 .page-content {
     .page-placeholder {
         color: $page-icon-color;
         font-size: $page-content-placeholder-font-size;
         vertical-align: center;
         horizontal-align: center;
     }
 
     .page-icon {
         font-size: 72;
         vertical-align: top;
         horizontal-align: center;
         color: $page-icon-color;
         margin-top: 20%;
     }
 }
 
 //Action bar
 ActionBar .action-bar-title {
     horizontal-align: center;
 }

 .logo {
     height: 110px;
 }

$sides: (top, bottom, left, right); // Leave this variable alone

@for $i from -100 through -1 {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$i} {
      margin-#{$side}: #{$i}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$i} {
      padding-#{$side}: #{$i}px !important;
    }
  }
}